.points {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
    border-radius: 20px;
    // border: 1px solid #e9eaf0;
    background: #fff;
    gap: 20px;

    .points__group {
        display: flex;
        // justify-content: space-between;
        gap: 10px;

        .point__img {
            margin-top: -28px;
        }

        .point__quantity {
            font-size: 40px;
            font-weight: 700;
            line-height: 1.3;
        }
        .point__bonus {
            font-size: 20px;
            font-weight: 500;
            line-height: 170%;
        }
    }

    .points__btn {
        // margin-left: 10px;
        width: 120px;
        height: 50px;
        font-size: 15px;
        cursor: pointer;
    }
}
