.blog__card {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
    border: 2px solid #e8e8e8;
    border-radius: 16px;
    padding: 20px;
}
.blog__card-imageContainer {
    position: relative;

    img {
        border-radius: 15px;
        width: 500px;
        height: 350px;
        object-fit: cover;
    }
}

.blog__card-textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .blog__card-title {
        font-size: 22px;
        font-weight: 600;
    }

    .blog__card-date {
        color: gray;
    }

    .blog__card-category {
        margin-left: 20px;
        color: crimson;
        font-weight: 500;
    }

    .blog__card-desc {
        font-size: 18px;
        font-weight: 300;
        display: -webkit-box; /* Dùng với line-clamp */
        -webkit-line-clamp: 3; /* Số dòng muốn giới hạn */
        -webkit-box-orient: vertical;
        overflow: hidden; /* Ẩn phần text dư */
        text-overflow: ellipsis; /* Hiển thị dấu "..." */
        height: auto; /* Đảm bảo chiều cao thay đổi tuỳ nội dung */
        line-height: 1.5; /* Khoảng cách dòng cho dễ đọc */
    }

    .blog__card-link {
        border-bottom: 1px solid crimson;
        width: max-content;
        padding: 2px 0px;
    }
}
