.writePage {
    background-color: #fff;
    padding: 30px 0;

    &__content-act {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__input {
        padding: 50px 0;
        font-size: 64px;
        border: none;
        outline: none;

        &::placeholder {
            color: #b3b3b1;
        }
    }

    .writePage__editor {
        display: flex;
        // align-items: center;
        gap: 10px;
        height: 500px; // Tăng chiều cao cho editor
        .editor {
            width: 70%;
        }

        .writePage__editor-img {
            width: 30%;
        }
        .ql-container {
            height: 457px; // Đảm bảo editor không bị cụt
            overflow-y: auto;
        }
    }

    &__btn {
        margin-top: 20px;
        width: 120px;
        height: 38px;
        border-radius: 99px;

        &:hover {
            opacity: 0.9;
            cursor: pointer;
        }
    }
}
