.pricing__page {
    margin-top: 100px;

    .pricing__page-title {
        color: var(--text-color);
        text-align: center;
        font-size: 42px;
        font-weight: 800;
        line-height: 123.81%;
        margin-bottom: 70px;
    }

    .pricing__page-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 items trên mỗi hàng */
        gap: 30px; /* Khoảng cách giữa các items */
        justify-items: center; /* Căn giữa các items trong mỗi cột */
    }
}
