.myAppointment__btn {
    width: 192px;
    height: 38px;
    color: #696969;
    border: 2px solid #e5e7eb;
    background-color: #fff;
    transition: background-color 0.5s ease;
    cursor: pointer;

    &:hover {
        background-color: red;
        color: #fff;
        border: none;
    }
}
