.blogCategories {
    padding-top: 10px;
    &-title {
        background-color: coral;
        color: #fff;
        padding: 10px;
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        border-radius: 99px;
    }
}
