.mentor-detail {
    background-color: #fff;
    padding: 30px 0;
}

.mentor-detail__media {
    img {
        width: 277px;
        height: 314.196px;
        border-radius: 10px;
        object-fit: cover;
    }
}

.mentor-detail__inner {
    display: flex;
    gap: 30px;
}

.mentor-detail__content {
    padding: 28px;
    background-color: #fff;
    border: 1px solid #adadad;
    border-radius: 8px;

    .mentor__detail-title {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #374151;
        font-size: 30px;
        font-weight: 500;
    }

    .mentor__detail-major {
        display: flex;
        margin-top: 15px;
        align-items: center;
        gap: 10px;
        width: fit-content;
        height: 44px;
        padding: 0 20px;
        border-radius: 10px;
        border: 1px solid #d2d1d6;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    .mentor__detail-desc {
        margin-top: 15px;
        color: #4b5563;
        font-size: 17px;
        p {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }

    .mentor__detail-appointment {
        margin-top: 20px;

        .mentor__detail-appointment-title {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .mentor__detail-appointment-fee {
            display: flex;
            align-items: center;
            gap: 6px;
            p {
                font-size: 20px;
            }
        }
    }
}

.mentor-detail__reviews {
    margin-top: 40px;

    .reviews__title {
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 145.455%;
        font-weight: 700;
    }

    .mentor-detail__feedback {
        margin-top: 30px;

        .feedback__title {
            font-size: 24px;
            font-weight: 500;
            line-height: 141.667%;
        }

        .feedback__act {
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: end;

            .submit__btn {
                width: 150px;
                height: 30px;
                cursor: pointer;

                &:hover {
                    opacity: 0.9;
                }
            }

            .cancel__btn {
                width: 100px;
                background-color: #f3f3f3;
            }
        }
    }

    .customer__feedback {
        margin-top: 20px;

        .customer__feedback-title {
            font-size: 24px;
            font-weight: 500;
            line-height: 141.667%;
        }

        .customer__feedback-card {
            margin-top: 30px;
            display: flex;
            align-items: center;
            border-radius: 16px;
            background-color: #fafafd;
            padding: 30px;
            gap: 20px;

            .feedback-avt {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: cover;
            }

            .info-name {
                font-size: 22px;
                font-weight: 500;
                line-height: 145.455%;
            }

            .info-desc {
                margin-top: 10px;
            }
        }

        .comment__act {
            margin-top: 10px;
            display: flex;
            gap: 10px;
            margin-left: auto;
        }
    }
}
