.blog__menu {
    width: 25%;

    &-subtitle {
        color: gray;
        font-size: 16px;
        font-weight: 400;
    }

    &-title {
        margin-top: 10px;
        font-size: 28px;
    }

    &-item {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &-img {
        border-radius: 50%;
        border: 3px solid lightgray;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    &-textContainer {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &-category {
        padding: 3px 8px;
        border-radius: 10px;
        font-size: 12px;
        color: #fff;
        width: max-content;
        background-color: #ff7857;
    }

    &-postTitle {
        font-size: 18px;
        font-weight: 500;
    }

    &-detail {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 12px;
    }

    &-date {
        color: gray;
    }
}
